<div layout-padding style="background: #ffffff">
<div class="md-whiteframe-8dp" layout = "row"  layout-padding  layout-margin flex = "100"  >
    <div   layout="column"  hide-xs hide-sm >
        <img  style = "max-height: 150px" src="./src/assets/img/pic/exchange.png" alt="Logo" >
    </div>
    <div layout="column"  >
        <h2  layout="row" flex = "60" layout-margin layout-align="center center" style = "color: gray">Currency Converter </h2>
        <div flex = "100" layout="row" layout-align="start end" ng-include="'./src/shared/components/navBar/navBar.html'"></div>
        <md-button hide-gt-sm ng-click="toggleSidenav('sideNav')" class="md-primary"> Side-Nav </md-button>
    </div>
</div>
  </div>


<!--

app/src/assets/img/pic/Panda-icon.png
./src/assets/img/pic/Logo.jpg
Software & Web Development
-->