<md-dialog aria-label="Currency Converter Disclaimer"  >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Currency Converter Disclaimer </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="./src/assets/img/icons/ic_clear_black_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
<div layout = "column" layout-padding  layout-margin>
    <div   layout="row"    flex="90"  layout-align="center center">
        <img  style = "max-height: 150px" src="./src/assets/img/pic/exchange.png" alt="Logo" >
    </div>

    <div layout="row"  flex="90" >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
</div>
</md-dialog>
