

<div   layout = "column"  flex = 60    layout-fill layout-padding  layout-margin style = "  min-width: 400px ; ">
<div class="md-whiteframe-1dp" style = "background: #ffffff">
    <h1 layout = "row" flex = 100 style = "text-align: center"> Home </h1>

    <p layout = "row" flex = 100 >
        Welcome  To Currency  Converter Page.
        <br>
        Developed  by : Stanislav Yachnis .
        <br>
        Phone: 416 825 3475.
        <br>
        Email : syachnis@gmail.com
    </p>


</div>



</div>
